<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mango.bc">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.pepermissionrmission.INTERNET" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:name=".BcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BcActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".homepage.activity.VipDetailActivity" />
        <activity
            android:name=".homepage.activity.SearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".homepage.activity.CollageActivity" />
        <activity android:name=".homepage.activity.OpenUpVipActivity" />
        <activity android:name=".wallet.activity.ProblemActivity" />
        <activity android:name=".mine.activity.ExpertActivity" />
        <activity android:name=".mine.activity.ExpertApplyActivity" />
        <activity android:name=".wallet.activity.TransactionActivity" />
        <activity android:name=".wallet.activity.RechargeActivity" />
        <activity android:name=".wallet.activity.TransferActivity" />
        <activity android:name=".wallet.activity.CurrencyActivity" />
        <activity android:name=".homepage.activity.freebook.FreeBookActivity" />
        <activity android:name=".homepage.activity.expertbook.ExpertBookActivity" />
        <activity android:name=".mine.activity.FaqActivity" />
        <activity android:name=".homepage.activity.competitivebook.CompetitiveBookActivity" />
        <activity android:name=".mine.activity.ServiceActivity" />
        <activity android:name=".homepage.bookdetail.ExpertBookDetailActivity" />
        <activity android:name=".homepage.bookdetail.OtherBookDetailActivity" />
        <activity android:name=".homepage.bookdetail.TxtActivity" />
        <activity android:name=".homepage.bookdetail.play.PlayActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mango.bc"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".homepage.activity.BuyBookActivity" />

        <service android:name=".homepage.bookdetail.play.service.PlayService" />

        <receiver android:name=".homepage.bookdetail.play.receiver.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".homepage.bookdetail.play.receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="me.bc.music.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".homepage.bookdetail.CommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".mine.activity.VipAutoActivity" />
        <activity android:name=".mine.activity.VipCenterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.CodeActivity" />
        <activity android:name=".login.PasswordActivity" />
        <activity android:name=".login.PositionActivity" />
        <activity android:name=".login.PasswordLoginActivity" />
        <activity android:name=".login.LikeActivity" />
        <activity
            android:name=".login.UserDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".mine.activity.ApplyActivity" />
        <activity android:name=".mine.activity.PointApplyActivity" />
        <activity
            android:name=".mine.activity.PointDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".mine.activity.PointZoomActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".mine.activity.SettingActivity" />
        <activity android:name=".mine.activity.AboutActivity" />
        <activity android:name=".mine.activity.user.UserChangeActivity" />
        <activity android:name=".homepage.collage.CollageDetailActivity" />
        <activity android:name=".homepage.activity.CollageBuyBookActivity"></activity>
    </application>

</manifest>